#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

p {
  padding: 0;
  margin: 0;
}

.demo-container {
  width: 600px;
  height: 400px;
}

.custom-card {
  display: flex;
}

.custom-card section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 20px;
  color: #32325d;
}

.custom-card section .heading {
  font-size: 14px;
  font-weight: 500;
}

.custom-card section .message {
  padding-top: 8px;
  font-size: 16px;
  color: #525f7f;
  font-weight: 400;
}

section .name {
  text-align: right;
  padding-top: 8px;
  font-size: 14px;
}

section .name::before {
  content: "- ";
}


.custom-card img {
  height: 92px;
  width: 92px;
}

.custom-card-v2 {
  height: 400px;
  width: 600px;
}

.custom-card-v2 img {
  object-fit: contain;
  /* object-fit: fill; */
}

.options .buttons-container {
  display: flex;
  position: relative;
  z-index: 30;
}

.options button {
  color: white
}


.options button:not(:first-child) {
  margin-left: 8px;
}