ul.container {
  position: relative;
  --transition-duration: 1250ms;
  --transition-delay: 250ms;
  list-style: none;
}

li {
  --offset-delay: var(--transition-delay);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #fff;
  overflow: hidden;
  border-radius: 4px;
  transform: translateY(100%);
  transition: all var(--transition-duration);
  transition-delay: var(--offset-delay);
  transform-origin: 50% 100%;
}

li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(180deg, #fff, #e6ebf1) bottom/100% 150px repeat-x;
  transition: all var(--transition-duration);
  transition-delay: var(--offset-delay);
}

li.card-0 {
  --offset-delay: 0ms;
  z-index: 11;
}

li.card-0::after {
  opacity: 0;
}

li.card-1 {
  --offset-delay: calc(var(--transition-delay) * 0.25);
  opacity: 1;
  z-index: 10;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025);
}

li.card-1::after {
  opacity: 0;
}

li.card-2 {
  --offset-delay: calc(var(--transition-delay) * 0.5);
  opacity: 1;
  z-index: 9;
}

li.card-2::after {
  opacity: 1;
}

li.card-3 {
  --offset-delay: calc(var(--transition-delay) * 0.75);
  opacity: 1;
  z-index: 8;
}

li.card-3::after {
  background: linear-gradient(180deg, #fff, #e9edf1) bottom/100% 150px repeat-x;
  opacity: 1;
}

li.card-4 {
  /* no offset-delay here */
  opacity: 0;
}